<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <title>StoneGram</title>
  </head>
  <body>
    <a href="{% url 'users:dashboard' %} ">
      <section class="hero is-small is-success mb-4">
        <div class="hero-body">
          <h1 class="title is-1">StoneGram</h1>
          <p class="subtitle is-4">
            Social network built for CornerStone Technlogies
          </p>
          </div>
        </div>
        
      </section>
    </a>
    <div class="container">
      {% if messages %}
      <!---->
      {% for message in messages %}
      <div class="notification is-{{message.tags}}">
        <p>{{message}}</p>
        <button class="delete">x</button>
      </div>
  
      {% endfor %}
      <!---->
      {% endif %}
      <div>{% block content %} {% endblock content %}</div>
    </div>
  </body>
</html>
